// для корректных брейкпоинтов на 1000px
$sm: 999.9px;
$lg: 1439.9px;
$xl: 1919.9px;


$min: 800rem;

// colors

$light-grey: #F7F7F7;
$black: #1E1E1E;
$pink: #E31182;
$purple: #979EF3;
$grey: #CCCCCC;
$white: #ffffff;
$dark-purple: #7A83ED;
$dark-grey: #A5A5A5;

$ease: 0.3s ease;
$linear: 0.3s linear;

// font-size

$simple-text: 16rem;

$title: 24rem;
