// для корректных брейкпоинтов на 1000px
$sm: 999.9px;
$lg: 1439.9px;
$xl: 1919.9px;

$min: 800rem;

// colors

$light-grey: #f7f7f7;
$black: #1e1e1e;
$pink: #e31182;
$purple: #979ef3;
$grey: #cccccc;
$white: #ffffff;
$dark-purple: #7a83ed;
$dark-grey: #a5a5a5;

$ease: 0.3s ease;
$linear: 0.3s linear;

// font-size

$simple-text: 16rem;

$title: 24rem;
