.class1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: aquamarine;
  color: blue;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.class2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: aquamarine;
  color: blue;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.class3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: aquamarine;
  color: blue;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.class4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: aquamarine;
  color: blue;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.class4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: aquamarine;
  color: blue;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
